/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .app-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Estilos do Quiz */
  .quiz-container {
    margin-top: 20px;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question-text {
    font-size: 18px;
  }
  
  .options-list {
    list-style-type: none;
    padding: 0;
  }
  
  .options-list li {
    margin-bottom: 10px;
  }
  
  .option-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .option-button:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  /* Estilos do Resultado */
  .result-container {
    text-align: center;
  }
  
  .result-container p {
    font-size: 20px;
  }
  
  .result-container button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  /* Responsividade */
  @media (min-width: 768px) {
    .option-button {
      width: auto;
      display: block;
    }
  
    .options-list li {
      display: inline-block;
      width: 45%;
      margin-right: 5%;
    }
  
    .options-list li:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  /* Esquema de Cores Light e Dark */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: #ffffff;
    }
  
    .option-button {
      background-color: #1e1e1e;
      color: #ffffff;
      border: 1px solid #333;
    }
  
    .option-button:hover {
      background-color: #333;
    }
  
    .result-container button {
      background-color: #1e1e1e;
      color: #ffffff;
      border: 1px solid #333;
    }
  
    .result-container button:hover {
      background-color: #333;
    }
  }
  
  @media (prefers-color-scheme: light) {
    body {
      background-color: #ffffff;
      color: #000000;
    }
  
    .option-button {
      background-color: #f1f1f1;
      color: #000000;
      border: 1px solid #ccc;
    }
  
    .option-button:hover {
      background-color: #ddd;
    }
  
    .result-container button {
      background-color: #f1f1f1;
      color: #000000;
      border: 1px solid #ccc;
    }
  
    .result-container button:hover {
      background-color: #ddd;
    }
  }