/* Estilo para mobile-first */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .menu-logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .menu-toggle {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .menu-items {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }
  
  .menu-items li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
  }
  
  .menu-items li:hover {
    background-color: #444;
  }
  
  /* Exibir o menu quando o botão for clicado (mobile) */
  .menu-open {
    display: flex;
  }
  
  /* Estilo para telas maiores (desktop) */
  @media (min-width: 768px) {
    .menu-container {
      justify-content: flex-start;
    }
  
    .menu-logo {
      margin-right: auto;
    }
  
    .menu-items {
      display: flex;
      flex-direction: row;
      position: static;
      width: auto;
    }
  
    .menu-items li {
      border: none;
      padding: 10px 20px;
    }
  
    .menu-toggle {
      display: none; /* Esconder o botão de expandir/colapsar em telas maiores */
    }
  }